.callout-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.callout-note .callout-title {
  color: #1e66f5;
}

.callout-tip .callout-title {
  color: #d20f39;
}

.flexible-marker::after {
  content: "👈";
  float: right;
}

.math-inline {
  display: inline;

  svg: {
    display: inline;
  }
}
